<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hw1-part1</title>
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
</head>
<body>

    <div class="repository-list">
        <form class="search-form">
            <input type="text" class="search-form__input" placeholder="Введите название организации">
            <button class="search-form__btn"></button>
        </form>
        
        <div class="list">

            <div class="repository">
                <div class="repository__avatar">К</div>
                
                <div class="repository__content">
                    <div class="repository__name"><a href="#">kts-school-frontend</a></div>
                    <div class="repository__author"><a href="#">ktsstudio</a></div>
                    <div class="repository__data">
                        <div class="repository__rating">
                            <object type="image/svg+xml" data="./assets/rating-star-icon.svg">
                                <img src="./assets/rating-star-icon.svg" />
                            </object>
                            123
                        </div>
                        <div class="repository__update-date">Updated 21 Jul</div>
                    </div>
                </div>
            </div>

            <div class="repository">
                <div class="repository__avatar">К</div>
                
                <div class="repository__content">
                    <div class="repository__name"><a href="#">very-long-repository-name-and-something</a></div>
                    <div class="repository__author"><a href="#">ktsstudio</a></div>
                    <div class="repository__data">
                        <div class="repository__rating">
                            <object type="image/svg+xml" data="./assets/rating-star-icon.svg">
                                <img src="./assets/rating-star-icon.svg" />
                            </object>
                            123
                        </div>
                        <div class="repository__update-date">Updated 21 Jul</div>
                    </div>
                </div>
            </div>

            <div class="repository">
                <div class="repository__avatar"><img src="./assets/avatar.jpg" alt="avatar"></div>
                
                <div class="repository__content">
                    <div class="repository__name"><a href="#">very-long-repository-name-and-something</a></div>
                    <div class="repository__author"><a href="#">ktsstudio</a></div>
                    <div class="repository__data">
                        <div class="repository__rating">
                            <object type="image/svg+xml" data="./assets/rating-star-icon.svg">
                                <img src="./assets/rating-star-icon.svg" />
                            </object>
                            123
                        </div>
                        <div class="repository__update-date">Updated 21 Jul</div>
                    </div>
                </div>
            </div>

        </div> <!-- /.list -->

    </div> <!-- /.repository-list -->
    
</body>
</html>